.player-information {
    width: 30%;
    display: flex;
    margin-top: 2%;
}

.player-identity {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin: 0 auto;
}

.player-name {
    text-align: center;
    margin-top: 5%;
    word-wrap: break-word;
}

@include small-phone-media-query {
    .player-information {
        width: 25%;
    }

    .player-identity {
        height: 80%;
    }
}
